In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi


%matplotlib inline

In [2]:
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [4]:
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2")

In [7]:
ticker = ["SOL"]

# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 4 years from Today
start_date = pd.Timestamp("2022-04-07", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-04-07", tz="America/New_York").isoformat()

# Get 1 year's worth of historical data for AAPL
ticker_data_df = api.get_bars(
    ticker,
    timeframe,
    start=start_date,
    end=end_date
).df


SOL = ticker_data_df[ticker_data_df['symbol']=='SOL'].drop('symbol', axis=1)

ticker_data_df = pd.concat([SOL],axis=1, keys=['SOL'])



ticker_data_df.head()

                            SOL                                          \
                           open   high    low close  volume trade_count
timestamp
2022-04-07 04:00:00+00:00  5.55  5.745  5.405  5.58  553970        3780
2022-04-08 04:00:00+00:00  5.54  5.625  5.345  5.54  923978        5846
2022-04-11 04:00:00+00:00  5.54  5.580  5.390  5.43  479351        3887
2022-04-12 04:00:00+00:00  5.56  5.695  5.450  5.54  490409        3667
2022-04-13 04:00:00+00:00  5.54  5.670  5.515  5.60  419202        2809


                               vwap
timestamp
2022-04-07 04:00:00+00:00  5.541060
2022-04-08 04:00:00+00:00  5.523884
2022-04-11 04:00:00+00:00  5.458733
2022-04-12 04:00:00+00:00  5.561751
2022-04-13 04:00:00+00:00  5.601877